{%extends 'base.html'%}
{%block content%}
<title>Create new appointment</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
  <a class="active" href="home">Home</a>
</div>
   <h1> New Appointment</h1>
<form method="POST" action="{% url 'appointment' %}">
  {% csrf_token %}
</form>

<!--<form action="/action_page.php">-->
<form>

<!--  <label for="birthday">date:</label>-->
<!--    <input type="date" id="date" name="date">-->
  <br>
  <label for="first_name">First name:</label><br>
    <input type="text" id="first_name" name="first_name" value=""><br>
  <label for="last_name">Last name:</label><br>
    <input type="text" id="last_name" name="last_name" value=""><br><br>
 <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
</form>
   <button type="submit" class="btn btn-outline-primary">Create</button>

</form>
</form>

<!--      <label for="birthday">date:</label>-->
<!--      <input type="date" id="date" name="date">-->


<!--   <div class="form-floating mb-3">-->
<!--     <input type="text" class="form-control" placeholder="Passport">-->
<!--     <label>for="floatingInput">Passport</label>-->
<!--   </div>-->

<!--   <div class="form-floating mb-3">-->
<!--     <input type="text" class="form-control"  placeholder="name">-->
<!--     <label for="floatingInput">name</label>-->
<!--   </div>-->

<!--   <div class="form-floating mb-3">-->
<!--     <input type="text" class="form-control" placeholder="last_name">-->
<!--     <label for="floatingInput">last_name</label>-->
<!--   </div>-->


<!--   <div class="form-floating mb-3">-->
<!--     <input type="text" class="form-control"  placeholder="phone_number">-->
<!--     <label for="floatingInput">phone_number</label>-->
<!--   </div>-->

<!--      <button type="button" class="btn btn-success">Create</button>-->
<!--`  </form>-->

 {%endblock%}