<!DOCTYPE html>
<html lang="en">
<head>    <style>
body {
  background-color: lightblue;
}
</style>
    <meta charset="UTF-8">
    <title>יצירת שם משתמש וסיסמא חדשים</title>
</head>

<a href="/">
  <img src="http://www.up2me.co.il/imgs/47569287.jpg"  alt="Health Tourism" border="0">
</a>
<body>
<h2>יצירת שם משתמש וסיסמא חדשים</h2>

<form method="POST">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Submit</button>
</form>
  <div class="imgcontainer">

  </div>


    <label>

    </label>


  <div class="container" style="background-color:#f1f1f1">


  </div>


</body>
</html>