{%extends 'base.html'%}

{%block content%}
   <h1> new appointment</h1>

   <form method= "POST" action="{% url 'Appointment' %}">
      {%csrf_token%}
      <label for="birthday">date:</label>
      <input type="date" id="date" name="date">
   </form>

   <div class="form-floating mb-3">
     <input type="text" class="form-control" placeholder="Passport">
     <label>for="floatingInput">Passport</label>
   </div>

   <div class="form-floating mb-3">
     <input type="text" class="form-control"  placeholder="name">
     <label for="floatingInput">name</label>
   </div>

   <div class="form-floating mb-3">
     <input type="text" class="form-control" placeholder="last_name">
     <label for="floatingInput">last_name</label>
   </div>


   <div class="form-floating mb-3">
     <input type="text" class="form-control"  placeholder="phone_number">
     <label for="floatingInput">phone_number</label>
   </div>
      <button type="button" class="btn btn-success">Create</button>


