<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D.requests from a patient</title>
</head>
<h1><center>Requests from a patient</center></h1>
<hr>
<body>
<font size= "5" color="black">

<form action="/action_page.php">
 Requests date:

 <input type="date" id="date" name="date">
 <input type="submit" value="search">
</form>

Answer:
<form>
<input type="text" size="10" value="">
<input type="reset" value="Delete">
</form>
<input type="submit" value="Send">
</font>
</body>
</html>
